test_data.csv
train_data.csv
title_brand.csv
پروژه دوم بوت کمپ هوش مصنوعی تابستان ۱۴۰۴.pdf
.venv
GoogleNews-vectors-negative300.bin
warranty_product_summary_with_titles.csv
warranty_product_summary.csv
